html,
body {
   scroll-behavior: smooth;
}

#top {
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0px;
}

#header {
   border: 2px solid black;
   height: 10vh;
   background-color: black;
   opacity: 0.9;
   padding: 10px;
}

#name {
   color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   text-align: center;
}

div#name.col-4 {
   padding-top: 0px;
   max-height: 8vh;
}

@media only screen and (max-width: 1000px) {
   #countryName {
      font-size: 4vw;
      word-wrap: break-word;
      text-align: center;
      margin-top: 5%;
   }
}
@media only screen and (min-width: 1000px) {
   #countryName {
      font-size: 2vw;
   }
}

#info .col-12 {
   height: 90vh;
   /* 
   USE THIS SYNTAX TO GET THE FIRST PHOTO
   unsplash.search.photos("colombia", 1, 1);
   */
   opacity: 1;
}

#flag {
   height: 50vh;
   background: url(https://restcountries.eu/data/col.svg);
   opacity: 0.95;
   border: 3px solid black;
}

@media only screen and (max-width: 600px) {
   #flag {
      background-size: cover;
      background-position: center;
   }
}
@media only screen and (min-width: 600px) {
   #flag {
      background-size: contain;
   }
}

#moreInfo {
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.button {
   position: absolute;
   margin-left: -50px;
   left: 50%;
   width: 100px;
   bottom: 30px;
}

.form-group.col-8 {
   padding: 0px;
   position: absolute;
   top: 0px;
   right: 5px;
}

.bubble {
   overflow-wrap: break-word;
   border-radius: 50%;
   display: flex;
   position: absolute;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   align-items: center;
   justify-content: center;
   background-color: black;
   color: white;
   opacity: 0.8;
   padding: 5px;
}

@media only screen and (min-width: 740px) {
   .bubble {
      width: 200px;
      height: 200px;
   }
}

@media only screen and (max-width: 740px) {
   .bubble {
      width: 150px;
      height: 150px;
   }
}

@media only screen and (min-width: 600px) {
   .bubble:nth-of-type(1) {
      top: 5%;
      left: 5%;
   }

   .bubble:nth-of-type(2) {
      top: 35%;
      left: 20%;
   }

   .bubble:nth-of-type(3) {
      top: 65%;
      left: 5%;
   }

   .bubble:nth-of-type(4) {
      top: 5%;
      right: 5%;
   }

   .bubble:nth-of-type(5) {
      top: 35%;
      right: 25%;
   }

   .bubble:nth-of-type(6) {
      top: 65%;
      right: 5%;
   }
}

@media only screen and (max-width: 600px) {
   .bubble:nth-of-type(1) {
      top: 5%;
      left: 5%;
   }

   .bubble:nth-of-type(2) {
      top: 35%;
      left: 5%;
   }

   .bubble:nth-of-type(3) {
      top: 65%;
      left: 5%;
   }

   .bubble:nth-of-type(4) {
      top: 5%;
      right: 5%;
   }

   .bubble:nth-of-type(5) {
      top: 35%;
      right: 5%;
   }

   .bubble:nth-of-type(6) {
      top: 65%;
      right: 5%;
   }
}

.left {
   display: inline-block;
   border: 2px solid black;
   border-radius: 25px;
   padding: 10px;
   background-color: black;
   color: white;
   font-size: 20px;
   opacity: 0.7;
   margin: 20px;
}
